/* Default */
.button-furtrack {
	--button-text:#ffffff;
	--button-background:#2d0e4c;
	--button-border:1px solid #ffffff;
}

.button-twitter {
	--button-text: #ffffff;
	--button-background: #1d9bf0;
}